/* focus */
.header__items a:focus, .header__items-down a:focus{
    background-color: var(--purple);
    color: var(--white);
}
.hero__btn:focus{
    background: var(--purple);
    border: 2px solid var(--active);
    border-radius: 40px;
}
.podcast__btn:focus{
    background: var(--purple);
    border: 1px solid var(--violet);
    border-radius: 100px;
    color: var(--white);
}
.header__btn:focus{
    background: var(--purple);
    border-radius: 100px;
    border: 2px solid var(--black);
}
.header__search-link:focus svg path{
    stroke: var(--purple);
}
.header__player:focus svg path{
    fill: var(--purple);
}
.podcast__svg:focus svg path{
    fill: var(--purple);
}
.podcast__svg:focus svg circle{
    stroke: var(--purple);
}
.playlist__custom > button:focus{
    outline: none;
}
.playlist__custom button:focus::before{
    content: "";
    background: var(--backD2D5);
    border: 2px solid var(--violet);
    border-radius: 100%;
    width: 26px;
    height: 26px;
}
.podcast__links a:focus{
    background: var(--purple);
    color: var(--white);
    transition: color, background-color .3s ease-in-out;
}
.podcast__links > a:focus svg path{
    fill: var(--white);
    transition: fill .3s ease-in-out;
}
.show__more:focus-within::before{
    border: 1px solid var(--violet);
    z-index: 1001;
}
.show__more:focus{
    background: var(--purple);
    color: var(--white);
}
.show__more:focus svg path{
    fill: var(--white);
}
.show__archive:focus{
    background: var(--purple);
    border: 2px solid var(--active);
}
.ac .ac-trigger:focus{
    background: #292E39;
    color: var(--white);
    outline: none;
}
.hosts__link:focus{
    background: var(--violet);
    color: var(--white);
}
.playlist__article:focus{
    opacity: .8;
}
.playlist__article-name:focus::before{
    background: url(../img/play_btn.svg) no-repeat center 36%;
}
.player__link:focus{
    background-color: var(--orange);
    color: var(--black);
    background-image: url(../img/player-link-focus.svg);
}
.form__place:focus{
    background: var(--form-bg);
    border: 1px solid var(--purple);
}
.about__form textarea:focus{
    background: var(--form-bg);
    border: 1px solid var(--purple);
    outline: none;
}
.about__form-btn:focus{
    background: var(--purple);
    border: 1px solid var(--black);
}
.footer__social:focus svg path{
    fill: var(--purple);
}
.footer__items a:focus{
    background: var(--purple);
}

/* hover */
@media (min-width:1200px){
    .header__items a:hover, .header__items-down a:hover{
        color: var(--violet);
        transition: color .3s ease-in-out;
        background: none;
    }
    .hero__btn:hover{
        background: var(--purple);
        transition: background-color .3s ease-in-out;
        border: none;
    }
    .podcast__btn:hover{
        background: var(--violet);
        transition: background-color .3s ease-in-out;
        border: none;
        color: var(--white);
    }
    .header__btn:hover{
        background: var(--black);
        transition: background-color .3s ease-in-out;
        color: var(--white);
        border-radius: 77px;
        border: 2px solid var(--black);
    }
    .header__search-link:hover svg path{
        stroke: var(--purple);
        transition: stroke .3s ease-in-out;
    }
    .header__player:hover svg path{
        fill: var(--violet);
        transition: fill .3s ease-in-out;
    }
    .podcast__svg:hover svg path{
        fill: var(--violet);
        transition: fill .3s ease-in-out;
    }
    .podcast__svg:hover svg circle{
        stroke: var(--violet);
        transition: stroke .3s ease-in-out;
    }
    .playlist__custom button:hover::before{
        content: "";
        transition: border .3s ease-in-out;
        border: 2px solid var(--violet);
        border-radius: 100%;
        width: 26px;
        height: 26px;
        background: none;
    }
    .podcast__links a:hover{
        color: var(--violet);
        transition: color .3s ease-in-out;
        background: none;
    }
    .podcast__links > a:hover svg path{
        fill: var(--violet);
        transition: fill .3s ease-in-out;
    }
    .show__more:hover{
        background: none;
        color: var(--violet);
        transition: color .3s ease-in-out;
    }
    .show__more:hover svg path{
        fill: var(--violet);
        transition: fill .3s ease-in-out;
    }
    .show__archive:hover{
        background: var(--black);
        transition: background-color .3s ease-in-out;
        color: var(--white);
        border: 2px solid var(--black);
    }
    .show__article:hover{
        opacity: .7;
        transition: opacity .3s ease-in-out;
    }
    .ac .ac-trigger:hover{
        color: var(--violet);
        transition: color .3s ease-in-out;
        outline: none;
        background: none;
    }
    .ac.is-active>.ac-header .ac-trigger:hover::after{
        background-image: url(../img/arrow_btn-hover.svg);
        transition: background-image .3s ease-in-out;
    }
    .ac .ac-panel .ac-text:hover{
        color: var(--violet);
        transition: color .3s ease-in-out;
    }
    .hosts__link:hover{
        background: var(--purple);
        transition: background-color, color .3s ease-in-out;
        color: var(--white);
    }
    .playlist__article:hover{
        opacity: .8;
        transition: opacity .3s ease-in-out;
    }
    .playlist__article-name:hover::before{
        background: url(../img/play_btn.svg) no-repeat center 36%;
        transition: background-image, color .3s ease-in-out;
    }
    .playlist__article-card:hover{
        background-color: var(--violet);
        transition: background-color, color .3s ease-in-out;
    }
    .playlist__article-card:hover span{
        color: var(--white);
    }
    .playlist__article-card:hover a{
        color: var(--white);
    }
    .player__link:hover{
        background-color: var(--yellow);
        color: var(--black);
        transition: background-color, color .3s ease-in-out;
        background-image: url(../img/player-link-hover.svg);
    }
    .form__place:hover{
        background: var(--form-bg);
        transition: background-color .3s ease-in-out;
    }
    .about__form textarea:hover{
        background: var(--form-bg);
        transition: background-color .3s ease-in-out;
    }
    .about__form-btn:hover{
        background: var(--purple);
        transition: background-color .3s ease-in-out;
        border: none;
    }
    .about__form span:hover{
        color: var(--violet);
        transition: color .3s ease-in-out;
    }
    .footer__social:hover svg path{
        fill: var(--violet);
        transition: fill .3s ease-in-out;
    }
    .footer__items a:hover{
        color: var(--violet);
        transition: color .3s ease-in-out;
    }
    .header__form-btn:hover{
        background: var(--purple);
        transition: background-color .3s ease-in-out;
        border: none;
    }
    .header___form-login:hover{
        background: var(--form-bg);
        transition: background-color .3s ease-in-out;
    }
    .header__login-subtitle a:hover{
        color: var(--purple);
        transition: color .3s ease-in-out;
    }
}

/* active */
@media (max-width:1200px){
    .header__items a:active, .header__items-down a:active{
        color: var(--active);
    }
    .hero__btn:hover{
        background: var(--active);
    }
    .podcast__btn:active{
        background: var(--active);
        color: var(--white);
    }
    .header__btn:active{
        background: var(--active);
        color: var(--white);
        border-radius: 77px;
        border: 2px solid var(--active);
    }
    .header__search-link:active svg path{
        stroke: var(--active);
    }
    .header__player:active svg path{
        fill: var(--active);
    }
    .podcast__svg:active svg path{
        fill: var(--active);
    }
    .podcast__svg:active svg circle{
        stroke: var(--active);
    }
    .playlist__custom button:active::after{
        content: "";
        width: 26px;
        position: absolute;
        height: 26px;
        display: inline-block;
        border-radius: 100%;
        border: 7px solid var(--violet);
    }
    .podcast__links a:active{
        color: var(--active);
        transition: color .3s ease-in-out;
    }
    .podcast__links > a:active svg path{
        background-color: var(--active);
        fill: var(--active);
        transition: fill, background-color .3s ease-in-out;
    }
    .show__more:active{
        color: var(--active);
        opacity: .7;
    }
    .show__more:active svg path{
        fill: var(--active);
    }
    .show__archive:active{
        background: var(--active);
        color: var(--white);
        border: 2px solid var(--active);
    }
    .ac .ac-trigger:active{
        color: var(--violet);
        outline: none;
    }
    .ac.is-active>.ac-header .ac-trigger:active::after{
        background-image: url(../img/arrow_btn-hover.svg);
    }
    .tabs__nav__btn:active{
        color: var(--active);
    }
    .hosts__link:active{
        background: var(--active);
        color: var(--white);
    }
    .playlist__article:active{
        opacity: .8;
    }
    .playlist__article-name:active::before{
        background: url(../img/play_btn.svg) no-repeat center 36%;
    }
    .playlist__article-card:active{
        background-color: var(--active);
    }
    .playlist__article-card:active span{
        color: var(--white);
    }
    .playlist__article-card:active a{
        color: var(--white);
    }
    .player__link:active{
        background-color: var(--orange);
        color: var(--black);
        background-image: url(../img/player-link-active.svg);
    }
    .form__place:active{
        background: transparent;
        border: 1px solid var(--white);
        color: var(--white);
    }
    .about__form textarea:active{
        background: transparent;
        border: 1px solid var(--white);
        color: var(--white);
    }
    .about__form-btn:active{
        background: var(--active);
        color: var(--white);
        border: 2px solid var(--active);
    }
    .footer__social:active svg path{
        fill: var(--active);
    }
    .footer__items a:active{
        color: var(--active);
    }
}
