@media (max-width: 1024px){
    /* GLOBAL */
    .container{
        max-width: 822px;
    }

    
    /* HEADER */
    .header__container{
        flex-direction: column;
    }
    .header__inform{
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        width: 100%;
    }
    .header__nav{
        width: 77.5%;
    }
    .header__buttons{
        width: 18.5%;
    }
    .header__btn{
        padding: 10px 30.5px;
        height: 100%;
    }
    .header__nav-down{
        width: 59%;
        padding-top: 2.5%;
    }
    .header__block{
        width: 36%;
    }
    .header__old{
        display: none;
    }
    .header__player::after{
        top: 52%;
        left: 24%;
    }


    /* HERO */
    .hero__container{
        padding-bottom: 8%;
    }
    .hero__text{
        padding-top: 9.5%;
    }
    .hero__microphone{
        padding-top: 9%;
    }
    .hero__title{
        margin-bottom: 2.5%;
    }
    .hero__subtitle{
        width: 90%;
        margin-bottom: 3.5%;
    }


    /* PODCAST */
    .podcast__container{
        padding-top: 9.3%;
        padding-bottom: 9%;
    }
    .podcast__headtitle {
        margin-bottom: 3.8%;
    }
    .podcast__articles-left{
        width: 31%;
    }
    .podcast__up {
        padding: 7.6% 11.5% 0 10%;
    }
    .podcast__links {
        padding-left: 10%;
    }
    .podcast__articles-left picture::before{
        top: 88%;
    }
    .podcast__links button:not(:last-child) {
        margin-right: 25px;
    }
    .podcast__blocks{
        margin-bottom: 7%;
    }
    

    /* SHOW */
    .show__container {
        padding-top: 10.7%;
        padding-bottom: 9.2%;
    }
    .show__aside {
        width: 39%;
        justify-content: start;
    }
    .show__up{
        margin-bottom: 81%;
    }
    .show__down{
        position: relative;
        height: 25%;
    }
    .show__archive{
        position: absolute;
        bottom: 21%;
    }
    .show__article {
        width: 47%;
    }


    /* HOSTS */
    .hosts__container {
        padding-top: 9.1%;
        padding-bottom: 9.1%;
    }
    .hosts__title {
        margin-bottom: 1.5%;
    }
    .hosts__sub-bold {
        margin-bottom: 1%;
    }
    .hosts__subtitle {
        width: 65%;
        margin-bottom: 6%;
    }
    .ac .ac-trigger{
        padding-top: 6%;
        padding-bottom: 6%;
    }
    .ac-panel-list{
        padding-top: 5.5%;
        padding-bottom: 2%;
        width: 100%;
        columns: 3;
        gap: 5%;
    }
    .ac .ac-panel .ac-text{
        padding-bottom: 0.5%;
        margin-bottom: 10%;
    }
    .accordion-container {
        width: 65.5%;
    }
    .ac .ac-trigger::after{
        transform: translate(9px, -22px);
    }
    .hosts__cards {
        width: 31%;
    }
    .host__social {
        width: 51%;
    }
    .hosts__card img {
        margin-bottom: 4.5%;
    }
    .host__info {
        margin-bottom: 44px;
    }


    /* PLAYLIST */
    .playlist__container {
        padding-top: 9.2%;
        padding-bottom: 25%;
        flex-direction: column;
        position: relative;
    }
    .playlist__title {
        margin-bottom: 3.5%;
    }
    .playlist__left {
        width: 41%;
    }
    .playlist__genre {
        margin-bottom: 3%;
    }
    .playlist__form{
        flex-wrap: wrap;
        height: 165px;
        margin-bottom: 6%;
    }
    .playlist__custom{
        width: 34%;
    }
    .playlist__custom:not(:nth-child(4n+4)){
        margin-bottom: 4%;
    }
    .playlist__right{
        width: 100%;
    }
    .playlist__article{
        flex-direction: inherit;
        width: 30.8%;
    }
    .playlist__article> picture> img{
        height: 100%;
    }
    .playlist__article-card{
        padding: 40px 8px 16px 8px;
        height: 112px;
        width: 56%;
    }
    .playlist__left-bottom{
        position: absolute;
        top: 81.8%;
        width: 100%;
    }
    .playlist__article:nth-last-child(n + 5) {
        margin-bottom: 30px;
    }
    .playlist__text {
        padding-top: 5%;
        margin-bottom: 0%;
    }


    /* PLAYER */
    .player__container {
        padding-top: 9.1%;
        padding-bottom: 11.5%;
    }
    .player__left{
        padding-top: 14%;
    }
    .player__new{
        background-image: url(../img/new-1024.png);
    }
    .player__info {
        width: 48%;
    }
    .player__title{
        padding-bottom: 8%;
        margin-bottom: 5%;
    }
    .player__descr-1 {
        width: 92%;
    }
    .player__descr-2 {
        margin-bottom: 7.5%;
    }
    .player__price{
        margin-bottom: 14%;
    }
    .player__link{
        padding: 6% 4%;
        padding-left: 9%;
    }


    /* ABOUT */
    .about__container {
        padding-top: 9.3%;
        padding-bottom: 9.3%;
    }
    .about__title {
        margin-bottom: 2.5%;
    }
    .about__svg-1{
        display: none;
    }
    .about__right {
        padding-top: 5%;
        width: 31%;
    }
    .about__left {
        width: 65%;
    }
    .about__up{
        margin-bottom: 2.3%;
    }
    .swiper-slide:not(:last-child) {
        margin-right: 1.8%;
    }
    .about__img {
        margin-bottom: 6.5%;
    }
    .about__people {
        margin-bottom: 1.5%;
    }
    .about__form textarea {
        width: 100%;
        margin-bottom: 3.5%;
    }
    .about__form-flex {
        width: 100%;
        margin-bottom: 3.6%;
    }
    .about__form-btn{
        margin-bottom: 3.5%;
    }
    .form__place {
        padding: 8px 10px 10px 30px;
        height: 68px;
    }
    .about__form textarea{
        padding: 30px 10px 10px 30px;
    }
    #about__checkbox + span{
        padding-left: 2.5%;
    }


    /* FOOTER */
    .footer__container {
        padding-top: 9%;
        padding-bottom: 9.5%;
    }
    .footer__logo {
        display: block;
        margin-bottom: 6%;
    }
    .footer__nav {
        width: 54.1%;
    }
    .footer__items:not(:nth-child(3n+3)) {
        margin-bottom: 31%;
    }
    .swiper-button-next, .swiper-button-prev {
        width: 5%;
        top: 45.2%;
    }
    .swiper-button-prev {
        left: 3%;
    }
    .swiper-button-next {
        right: 3%;
    }
}
@media (max-width: 768px){
    .container {
        width: 540px;
        max-width: 100%;
    }
    
    /* HEADER */
    .header__list-down{
        flex-wrap: wrap;
    }
    .header{
        position: relative;
    }
    .header__container{
        position: inherit;
        min-height: 141px;
    }
    .header__inform {
        width: 100%;
        padding: 0;
        padding-bottom: 4%;
        justify-content: right;
    }
    .header__buttons {
        width: 28.5%;
    }
    .header__nav{
        display: none;
    }
    .header__logo {
        width: 22%;
        padding-top: 4.3%;
        padding-bottom: 3.5%;
    }
    .header__block:nth-child(){
        display: none;
    }
    .header__old{
        display: none;
    }
    .header__nav-down {
        width: 91.4%;
        padding-top: 3.5%;
        padding-bottom: 4%;
    }
    .header__player-1{
        display: none;
    }
    .header__player-next::before{
        display: none;
    }
    .header__player-next::after{
        display: none;
    }
    .header__player{
        border: none;
        width: 54%;
        height: 69px;
        padding: 0;
    }
    .header__player svg{
        position: absolute;
        top: 10%;
        left: -1%;
    }
    .header__player-next{
        margin-left: auto;
    }
    .header__block {
        width: 8%;
    }
    .burger, .menu{
        display: block;
    }
    .burger{
        position: absolute;
        left: 14.8%;
        right: 0;
        top: 43.9%;
        width: 24px;
        height: 13%;
        cursor: pointer;
        z-index: 1001;
      }
      .burger span, .burger span:before, .burger span:after{
        width: 24px;
        position: absolute;
        height: 4px;
        background: var(--violet);
        display: block;
        transition: .3s;
        border-radius: 5px;
      }
      .burger span:before{
        content: "";
        top: -11px;
        transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .burger span{
        top: 11px;
      }
      .burger span:after{
        content: "";
        bottom: -10px;
        transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .burger span.active:before{
        content: "";
        top: 0px;
        transform: rotate(45deg);
        transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .burger span.active:after{
        content: "";
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .burger span.active{
        background: transparent;
      }
      .menu{
        position: absolute;
        width: 100%;
        height: 395px;
        background: var(--backD2D5);
        top: -300%;
        right: 0;
        bottom: 0;
        z-index: 1000;
        left: 0;
        transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .menu.animate{
        top: 33%;
      }
    .header__list{
        width: 50%;
        padding-top: 11.5%;
        padding-left: 15%;
        flex-direction: column;
        flex-wrap: wrap;
        height: 278px;
        justify-content: initial;
    }
    .header__items{
        width: 40%;
    }
    .header__items:not(:nth-child(3n+3)){
        margin-bottom: 24%;
    }
    .nav__vector{
        display: block;
        position: absolute;
        width: 113px;
        height: 364px;
        background-image: url(../img/nav-vector.svg);
        background-repeat: no-repeat;
    }
    .nav__vector-1{
        display: none;
        top: 20%;
        right: 33%;
    }
    .nav__vector-1.active{
        display: block;
        top: 0;
    }
    .nav__vector-2.active{
        display: block;
        top: -14%;
        right: 14.5%;
    }
    .nav__vector-2{
        display: none;
        top: 0;
    }
    
    /* HERO */
    .hero__container {
        padding-top: 11.9%;
        padding-bottom: 12%;
        flex-wrap: wrap;
    }
    .hero__text {
        width: 100%;
        padding-top: 0;
    }
    .hero__title {
        margin-bottom: 2.5%;
    }
    .hero__subtitle {
        width: 94%;
        margin-bottom: 3.8%;
    }
    .hero__microphone{
        display: none;
    }


    /* PODCAST */
    .podcast__container {
        padding-top: 12%;
        padding-bottom: 12.2%;
    }
    .podcast__headtitle {
        margin-bottom: 5.8%;
    }
    .podcast__articles-left {
        width: 21%;
    }
    .podcast__blocks {
        flex-direction: column;
    }
    .podcast__articles{
        width: 100%;
    }
    .podcast__articles:not(:nth-last-child(-n + 2)){
        margin: 0;
    }
    .podcast__articles:not(:last-child){
        margin-bottom: 30px;
    }
    .podcast__blocks{
        margin-bottom: 11%;
    }
    .podcast__title {
        margin-bottom: 1px;
    }
    .podcast__up {
        padding: 5% 6.5% 0 7%;
    }.podcast__time {
        margin-bottom: 7%;
    }
    .podcast__links button:not(:last-child) {
        margin-right: 26px;
    }
    .podcast__articles-left picture::before{
        top: 88.5%;
    }
    .podcast__links {
        padding-left: 6.5%;
    }


    /* SHOW */
    .show{
        position: relative;
    }
    .show__container{
        padding-top: 14.3%;
        padding-bottom: 28%;
        flex-direction: column;
    }
    .show__author {
        margin-bottom: 0.8%;
        transform: translateY(-4px);
    }
    .show__aside{
        width: 100%;
        margin-bottom: 9%;
    }
    .show__articles{
        width: 100%;
    }
    .show__article {
        width: 47%;
    }
    .show__up {
        margin-bottom: 0;
    }
    .show__down{
        justify-content: initial;
        flex-direction: initial;
        position: absolute;
        top: 90.5%;
        height: 9%;
        padding-left: 13%;
    }
    .show__text{
        padding-left: 6%;
    }
    .show__text-btn{
        width: 66%;
        height: 55%;
    }
    .show__text-btn p{
        width: 69%;
        padding-top: 2%;
    }
    .show__archive{
        position: static;
        margin: 0;
    }
    .show__image{
        margin-right: 4%;
    }
    .border-section{
        position: absolute;
        bottom: 12%;
        width: 100%;
        display: block;
        border-top: 1px solid var(--border);
    }


    /* HOSTS */

    .hosts__container {
        padding-top: 12%;
        padding-bottom: 14%;
    }
    .hosts__title {
        margin-bottom: 3%;
    }
    .hosts__sub-bold {
        margin-bottom: 1.6%;
    }
    .hosts__subtitle {
        width: 100%;
        margin-bottom: 9%;
    }
    .ac .ac-trigger{
        padding-top: 5.8%;
        padding-bottom: 6.5%;
    }
    .hosts__block{
        flex-direction: column;
    }
    .accordion-container{
        width: 100%;
        margin-bottom: 8.8%;
    }
    .ac-panel-list {
        columns: 3;
        gap: 5%;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 0;
    }
    .ac .ac-panel .ac-text{
        margin-bottom: 19%;
    }
    .ac.is-active > .ac-header .ac-trigger::after{
        position: absolute;
        right: 2%;
        top: 48%;
    }
    .ac .ac-trigger::after{
        position: absolute;
        right: 2%;
        top: 48%;
    }
    .hosts__cards{
        width: 100%;
    }
    .host__social{
        width: 24%;
        margin-bottom: 3%;
    }
    .hosts__card img {
        margin-bottom: 2%;
    }
    .host__info {
        margin-bottom: 40px;
        width: 81%;
    }


    /* PLAYLIST */

    .playlist__container {
        padding-top: 12.3%;
        padding-bottom: 36.1%;
        flex-direction: column;
        position: relative;
    }
    .playlist__left{
        width: 63%;
        margin-bottom: 5%;
    }
    .playlist__genre {
        margin-bottom: 4%;
    }
    .playlist__form{
        flex-wrap: wrap;
        height: 205px;
        margin-bottom: 5%;
    }
    .playlist__custom{
        width: 34%;
    }
    .playlist__custom:not(:nth-child(4n+4)){
        margin-bottom: 6%;
    }
    .playlist__right{
        width: 100%;
    }
    .playlist__article{
        width: 47%;
        flex-direction: initial;
    }
    .playlist__article-card{
        padding: 39px 0px 16px 9px;
        width: 56%;
        max-width: 100%;
        height: 111px;
    }
    .playlist__article> picture> img{
        height: 111px;
    }
    .playlist__article:nth-last-child(n + 5){
        margin: 0;
    }
    .playlist__article:nth-last-child(n+3){
        margin-bottom:27px;
    }
    .playlist__left-bottom{
        width: 100%;
        position: absolute;
        top: 84.6%;
    }
    .playlist__text{
        width: 76%;
        padding-top: 7%;
        margin-bottom: 0;
    }
    .playlist__copy {
        margin-bottom: 1.5%;
        display: block;
    }


    /* PLAYER */

    .player__container{
        flex-direction: column;
        padding-top: 5.7%;
        padding-bottom: 16%;
    }
    .player__new{
        background-image: url(../img/nex-768.png);
        top: 2%;
    }
    .player__info {
        padding-top: 9%;
        width: 100%;
    }
    .player__title {
        background-image: url(../img/vector-player-768.png);
        background-repeat: no-repeat;
        background-position: bottom;
        padding-bottom: 5%;
        margin-bottom: 4%;
    }
    .player__descr-1 {
        margin-bottom: 2%;
        width: 100%;
    }
    .player__descr-2 {
        margin-bottom: 5.5%;
    }
    .player__price {
        margin-bottom: 10%;
    }
    .player__link{
        padding: 4% 2%;
        padding-left: 7.5%;
    }
    .player__left{
        padding: 0;
    }
    


    /* ABOUT */
    .about{
        position: relative;
    }
    .about__container {
        padding-top: 12%;
        padding-bottom: 12%;
    }
    .about__up{
        flex-direction: column;
        margin-bottom: 5.2%;
    }
    .about__left {
        width: 100%;
    }
    .about__title-1 {
        margin-bottom: 1%;
    }
    .about__svg-1 {
        display: block;
        position: absolute;
        top: 29.5%;
        left: 0;
        background-image: url(../img/Vector-about-768.svg);
        width: 514px;
        height: 112px;
    }
    .about__svg-2 {
        margin-left: auto;
        margin-top: 3%;
        background-image: url(../img/vector-about-768-dawn.svg);
        width: 112px;
        height: 112px;
    }
    .about__right{
        padding: 0;
        width: 100%;
    }
    .swiper-slide, .swiper-slide-prev, .swiper-slide-active, .swiper-slide-next{
        width: 47% !important;
    }
    .swiper-slide:not(:last-child) {
        margin-right: 5.7%;
    }
    .about__people {
        margin-bottom: 5.5%;
    }
    .about__form textarea {
        width: 100%;
        margin-bottom: 5%;
    }
    .about__form-flex {
        min-height: 171px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5.6%;
    }
    .about__form-flex label {
        width: 100%;
    }
    .about__form-btn{
        margin-bottom: 5.4%;
    }
    #about__checkbox + span{
        padding-left: 4%;
    }
    .swiper-button-next, .swiper-button-prev{
        width: 8%;
        top: 46.6%
    }
    .swiper-button-prev {
        left: 5.8%;
    }
    .swiper-button-next {
        right: 5.8%;
    }
    .about__img {
        margin-bottom: 11.5%;
    }



    /* FOOTER */
    .footer__container {
        padding-top: 12.5%;
        padding-bottom: 11%;
        flex-direction: column;
    }
    .footer__left{
        margin: 0 auto;
        margin-bottom: 14%;
    }
    .footer__social svg{
        width: 36px;
        height: 36px;
    }
    .footer__social:not(:last-child) {
        margin-right: 11%;
    }
    .footer__logo {
        margin-bottom: 10.5%;
    }
    .footer__social-block{
        padding-left: 2%;
    }
    .footer__nav {
        width: 100%;
    }
    .footer__list {
        columns: 3;
        gap: 32%;
    }
    .footer__items:not(:nth-child(3n+3)) {
        margin-bottom: 46%;
    }
}
@media (max-width: 688px){
    .playlist__form{
        flex-wrap: nowrap;
        height: 323px;
    }
    .playlist__custom:not(:nth-child(4n+4)){
        margin: 0;
    }
    .playlist__custom:not:last-child{
        margin-bottom: 6%;
    }
    .playlist__left-bottom{
        display: flex;
        width: 100%;
        position: absolute;
        top: 93.4%;
    }
    .playlist__text{
        padding: 0;
        width: 100%;
    }
    .show__down{
        padding-left: 0;
    }
    .show__text-btn, .show__text-btn p{
        width: 100%;
    }
    .nav__vector-1.active{
        display: none;
    }
    .header__list {
        width: 62%;
    }
    .about__svg-1, .about__svg-2{
        display: none;
    }
    .header__inform{
        width: 84%;
    }
}
@media (max-width: 320px){
    .text-700-60-100, .hero__second-word{
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
    }
    .text-400-16-150{
        font-size: 14px;
    }
    .text-500-20-20{
        font-size: 16px;
        line-height: 16px;
    }
    .section__title{
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
    }
    .text-400-20-20{
        font-size: 16px;
        line-height: 16px;
    }
    .text-400-16-16{
        font-size: 12px;
        line-height: 12px;
    }
    .text-500-12-12{
        display: block;
        font-size: 12px;
        line-height: 12px;
    }
    .text-400-12-12{
        font-size: 9px;
        line-height: 9px;
    }
    .show__more{
        color: var(--violet);
    }
    .show__more svg{
        stroke: var(--violet);
    }
    .text-700-20-150{
        font-size: 14px;
    }
    .text-400-20-160{
        font-size: 14px;
    }
    .text-500-16-16{
        font-size: 12px;
        line-height: 12px;
    }
    .text-400-16-22{
        font-size: 12px;
        line-height: 16px;
    }
    .text-300-16-22{
        font-size: 12px;
        line-height: 22px;
    }
    .text-400-48-100{
        font-size: 24px;
    }
    .text-400-16-180{
        font-size: 14px;
        line-height: 160%;
    }
    .text-500-30-30{
        font-size: 24px;
        line-height: 24px;
    }
    .text-500-20-100{
        font-size: 16px;
    }
    .text-400-16-24{
        font-size: 12px;
        line-height: 16px;
    }
    input[type="checkbox"] + span{
        font-size: 9px;
        line-height: 9px;   
    }
    .footer__text{
        font-size: 12px;
    }
    .container{
        width: 256px;
        max-width: 100%;
        margin: 0 auto;
    }

    /* HEADER */
    .header__logo {
        width: 100%;
        padding-top: 8.5%;
        padding-bottom: 0;
    }
    .burger{
        left: 9.8%;
        top: 43.9%;
    }
    .header__buttons {
        flex-direction: column-reverse;
        width: 43.5%;
    }
    .header__inform {
        width: 100%;
    }
    .header__btn{
        height: 35px;
        position: absolute;
        top: 6%;
        right: 10%;
        padding: 8px 22.5px;
        font-size: 16px;
        line-height: 16px;
    }
    .header__search-link{
        position: absolute;
        top: 38%;
        right: 10%;
        height: 25px;
    }
    .header__up{
        background-color: var(--border);
    }
    .menu{
        top: -500%;
    }
    .header__container{
        min-height: 53px;
    }
    .header__container-down{
        height: 95px;
    }
    .header__border{
        display: block;
        width: 100%;
        position: absolute;
        border-bottom: 1px solid var(--border);
        top: 70%
    }
    .header__player-next{
        display: none;
    }
    .header__player-next.active{
        display: block;
        margin: 0;
        border: none;
    }
    .header__player-1.active{
        display: block;
        width: 38%;
        border: none;
        border-right: 1px solid var(--border);
    }
    .header__player-btn-320{
        display: flex;
        position: absolute;
        top: 78%;
        left: 32%;
    }
    .header__player-btn-320::before{
        content: "+";
        border-radius: 100%;
        width: 15px;
        height: 15px;
        background: var(--violet);
        color: var(--white);
    }
    .header__player-btn-320.active::before{
        transform: rotate(45deg);
        transition: transform .3s ease-in-out;
    }
    .header__block{
        display: flex;
        position: absolute;
        width: 89%;
        top: 100.3%;
        transform: translateY(-90%);
        transition: transform .3s ease-in-out;
    }
    .header__block.active{
        transform: translateY(0);
        transition: transform .3s ease-in-out;
        background: var(--white);
    }
    .header__player{
        width: 50%;
    }
    .header__player-next::before{
        display: block;
        font-size: 10px;
        line-height: 10px;
    }
    .header__player-next::after{
        display: block;
        line-height: 14px;
        font-size: 14px;
    }
    .header__player-1::before{
        font-size: 10px;
        line-height: 10px;
    }
    .header__player-1::after{
        line-height: 14px;
        font-size: 14px;
    }
    .header__player::before{
        top: 55%;
        left: -2%;
    }
    .header__player::after{
        top: 77%;
        left: -2%;
    }
    .header__list-down{
        display: none;
    }
    .header__btn-open--active {
        margin: 0;
        left: 0;
        right: 0;
        padding: 0;
        display: block;
        position: fixed;
        z-index: 1000;
        width: 320px;
        max-width: 100%;
        height: 655px;
    }
    .header__nav-down.active{
        display: block;
        z-index: 1000;
        position: absolute;
        padding: 0;
        bottom: -197%;
        background: var(--white);
        width: 100%;
        left: 0;
        height: 169px;
    }
    .header__list-down.active{
        display: flex;
        height: 100%;
        padding-left: 10%;
        padding-top: 9%;
        flex-wrap: wrap;
    }
    .nav__vector-2.active{
        display: none;
    }
    .header__list{
        width: 100%;
        padding-top: 18.5%;
        padding-left: 10%;
        height: 100%;
    }
    .header__items a{
        font-size: 20px;
        line-height: 20px;
    }
    .header__items-down{
        width: 50%;
        margin-bottom: 11%;
    }
    .header__items-down a{
        font-size: 16px;
        line-height: 16px;
    }
    .header__items:not(:nth-child(3n+3)){
        margin: 0;
    }
    .header__items{
        margin-bottom: 11% !important;
    }
    .menu.animate{
        top: 35%;
    }
    .header__nav{
        height: 226px;
    }
    .header__search-open--active{
        left: -801%;
        width: 199px;
    }


    /* HERO */

    .hero__subtitle{
        width: 100%;
        margin-bottom: 8.8%;
    }
    .hero__btn{
        padding: 15px 45px;
        height: 50px;
    }
    .header__player{
        border: 1px solid var(--border);
    }


    /* PODCAST */
    .podcast__container {
        padding-top: 17.5%;
        padding-bottom: 17%;
    }
    .podcast__articles{
        flex-direction: column;
    }
    .podcast__articles:nth-child(n+5){
        display: none;
    }
    .podcast__articles-left {
        width: 100%;
        height: 72px;
    }
    .podcast__headtitle {
        margin-bottom: 7.8%;
    }
    .podcast__articles-left picture::before{
        top: 0;
        bottom: 80%;
        left: 0;
        right: 80%;
    }
    .podcast-befor::after {
        bottom: 84%;
        left: 2.5%;
        top: 2%;
        right: 0;
    }
    .podcast__articles:not(:last-child){
        margin-bottom: 75px;
    }
    .podcast__blocks {
        margin-bottom: 0;
    }
    .podcast__right {
        width: 100%;
    }
    .podcast__up {
        padding: 5% 6.5% 8% 6%;
    }
    .podcast__time{
        font-size: 12px;
        line-height: 12px;
    }
    .podcast__svg svg{
        width: 36px;
        height: 36px;
    }
    .podcast__down{
        background: var(--white);
    }
    .podcast__subtitle{
        margin-bottom: 0;
    }
    .podcast__links {
        padding-left: 13.5%;
    }
    .podcast__btn{
        padding: 14px 27px;
        height: 50px;
    }
    .podcast__articles.active{
        display: block;
    }


    /* SHOW */
    .show__container {
        padding-top: 19.3%;
        padding-bottom: 61%;
    }
    .show__aside{
        margin-bottom: 12%;
    }
    .show__title{
        margin-bottom: 6%;
    }
    .show__article {
        width: 44%;
        height: 148px;
    }
    .show__picture{
        height: 49.84px;
    }
    .show__text{
        height: 66%;
        padding: 8% 0 10% 8%;
    }
    .show__name{
        margin-bottom: 5%;
    }
    .show__text span{
        margin-bottom: 28%;
        height: 25%;
    }
    .first-article-title{
        width: 58%;
    }
    .first-article-span{
        margin-bottom: 16% !important;
    }
    .show__image{
        background-image: url(../img/mic-320.png);
        background-size: 77px 105px;
        width: 77px;
        height: 105px;
        margin: 0;
        transform: translate(0px, -10px);
    }
    .show__text-btn{
        display: flex;
        flex-direction: column-reverse;
    }
    .show__text-btn p{
        width: 77%;
        padding-left: 6%;
        padding-top: 0;
    }
    .show__archive{
        font-size: 16px;
        line-height: 16px;
        width: 110px;
        height: 34px;
        padding: 7px 6px;
        transform: translate(13px, 8px);
    }
    .show__down{
        top: 86%;
        height: 18%;
    }
    .show__text-btn{
        width: 73%;
    }
    .border-section{
        bottom: 18.5%;
    }


    /* HOST */

    .hosts__container {
        padding-top: 18%;
        padding-bottom: 19.5%;
    }
    .hosts__title {
        margin-bottom: 4%;
    }
    .hosts__sub-bold{
        margin: 0;
    }
    .hosts__subtitle{
        margin-bottom: 11%;
    }
    .ac .ac-trigger::after{
        width: 30px;
        height: 30px;
        right: 3.5%;
        top: 66%;
    }
    .ac.is-active > .ac-header .ac-trigger::after{
        width: 30px;
        height: 30px;
        right: 3.5%;
        top: 66%;
    }
    .ac-panel-list {
        columns: 2;
        gap: 12%;
        padding-top: 8%;
        padding-bottom: 9%;
    }
    .ac .ac-panel .ac-text{
        width: 73%;
        font-size: 14px;
        line-height: 110%;
    }
    .ac .ac-panel .ac-text{
        margin-bottom: 24%;
    }
    .ac .ac-trigger{
        font-size: 16px;
        line-height: 16px;
        padding-top: 6.8%;
    }
    .ac .ac-panel .ac-text:nth-child(8){
        margin-bottom: 0;
    }
    #ac-5{
        display: none;
    }
    .accordion-container{
        margin-bottom: 12%;
    }
    .host__link{
        width: 36px;
        height: 36px;
        background-size: contain;
    }
    .host__social {
        width: 59%;
        margin-bottom: 13%;
    }
    .host__name{
        font-size: 20px;
        line-height: 20px;
    }
    .host__info{
        width: 97%;
        font-size: 16px;
        line-height: 180%;
    }
    .hosts__link{
        font-size: 16px;
        line-height: 16px;
        padding: 8px 12px;
    }



    /* PLAYLIST */

    .playlist__container {
        padding-top: 17.3%;
        padding-bottom: 69.1%;
    }
    .playlist__form{
        width: 287px;
        flex-direction: initial;
        justify-content: initial;
        height: 53px;
        margin-bottom: 0;
        overflow: auto;
    }
    .simplebar-content{
        display: flex;
    }
    .playlist__custom button::before, .playlist__custom button::after{
        display: none;
    }
    .playlist__custom > button > span{
        position: relative;
        left: 0;
        padding: 8px 19px;
        border: 2px solid var(--violet);
        border-radius: 77px;
        width: 113px;
        color: var(--violet);
    }
    .playlist__custom > button > span:active{
        background-color: var(--violet);
        color: var(--white);
    }
    .playlist__pank{
        width: 116px !important;
    }
    .playlist__last{
        width: 196px !important;
    }
    .playlist__last-2{
        width: 202px !important;
    }
    .playlist__last-3{
        width: 207px !important;
    }
    .playlist__last-4{
        width: 269px !important;
    }
    .playlist__article{
        flex-direction: column;
        width: 44.5%;
        height: 159px;
    }
    .playlist__article-card{
        padding: 9px 0px 0px 9px;
        width: 99%;
        min-height: 46px;
    }
    .playlist__article> picture> img{
        width: 113px;
        height: 113px;
    }
    .playlist__article> picture{
        width: 113px;
        height: 113px;
    }
    .playlist__article:nth-last-child(n+3) {
        margin-bottom: 30px;
    }
    .playlist__article-name{
        margin-bottom: 4%;
    }
    .playlist__left-bottom{
        top: 89.3%;
        flex-direction: column;
    }
    .playlist__text{
        width: 88%;
    }
    .playlist__title {
        margin-bottom: 11.5%;
    }
    .playlist__genre {
        margin-bottom: 3%;
    }
    .playlist__right{
        padding: 0;
    }
    .playlist__custom{
        width: 100%;
        margin-right: 5% !important;
    }


    /* PLAYER */


    .player__new{
        background-image: url(../img/new-320.png);
    }
    .player__container{
        padding-top: 15.7%;
        padding-bottom: 22%;
    }
    .player__info {
        padding-top: 13%;
    }
    .player__title br{
        display: none;
    }
    .player__title{
        width: 100%;
        padding-bottom: 8%;
        margin-bottom: 7%;
    }
    .player__descr-1 {
        margin-bottom: 4%;
        width: 93%;
    }
    .player__descr-2 {
        margin-bottom: 3.5%;
    }
    .player__price {
        margin-bottom: 14.5%;
    }
    .player__link {
        padding: 6% 14%;
        padding-left: 16.5%;
        padding-right: 13px;
        background-position-x: 6%;
    }


    /* ABOUT */
    .about__container {
        padding-top: 17%;
        padding-bottom: 17%;
    }
    .about__title {
        margin-bottom: 4.5%;
    }
    .about__subtitle{
        width: 97%;
    }
    .about__up{
        margin-bottom: 8.4%;
    }
    .swiper-slide:not(:last-child) {
        margin-right: 5%;
    }
    .about__img {
        margin-bottom: 8.5%;
    }
    .about__name {
        margin-bottom: 5%;
    }
    .about__descr {
        width: 94%;
    }
    .swiper {
        width: 100%;
        height: 217px;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .about__people {
        margin-bottom: 10.5%;
    }
    .about__form textarea{
        border-radius: 20px;
        padding: 16px 10px 10px 23px;
        margin-bottom: 11%;
    }
    .form__place {
        padding: 8px 10px 10px 23px;
        height: 47px;
    }
    .about__form-flex {
        min-height: 127px;
        margin-bottom: 12.6%;
    }
    .about__form-btn{
        padding: 17px 44px;
        margin-bottom: 6.4%;
    }
    #about__checkbox + span {
        padding-left: 8%;
    }
    #about__checkbox + span::after{
        bottom: -5px;
    }
    

    /* FOOTER */

    .footer__container {
        padding-top: 16.5%;
        padding-bottom: 13%;
    }
    .footer__left {
        margin-bottom: 30%;
    }
    .footer__logo {
        margin-bottom: 10.5%;
    }
    .footer__social:not(:last-child) {
        margin-right: 11.5%;
    }
    .footer__list {
        columns: 2;
        gap: 12%;
        height: 159px;
    }
    .footer__items:not(:nth-child(3n+3)) {
        margin: 0;
    }
    .footer__items{
        margin-bottom: 17% !important;
    }
    .footer__solid{
        margin-bottom: 2.5%;
    }
}
