
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(""), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */ url("../fonts/open-sans-v34-latin-regular.woff") format("woff"); /* Modern Browsers */
}
@font-face {
    font-family: "Muller";
    src: url("MullerRegular.eot");
    src: local("Muller Regular"), local("MullerRegular"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Muller";
    src: url("MullerMedium.eot");
    src: local("Muller Medium"), local("MullerMedium"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Muller Regular";
    src: url("MullerRegularItalic.eot");
    src: local("Muller Regular Italic"), local("MullerRegularItalic"), url("../fonts/MullerRegularItalic.woff2") format("woff2"), url("../fonts/MullerRegularItalic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Muller";
    src: url("MullerBold.eot");
    src: local("Muller Bold"), local("MullerBold"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Muller";
    src: url("MullerLightItalic.eot");
    src: local("Muller Light Italic"), local("MullerLightItalic"), url("../fonts/MullerLightItalic.woff2") format("woff2"), url("../fonts/MullerLightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
strong {
    font-weight: bold;
}
input {
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    max-width: 100%;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
body {
    font-family: Muller, sans-serif;
    position: relative;
}
.overflow-hidden{
    overflow-y: hidden;
}
.container {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.justify-content-space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
:root {
    --black: #121723;
    --border: #e6e8ec;
    --gray: #a1a6b4;
    --violet: #6d31ee;
    --white: #fff;
    --f2f: #f2f2f2;
    --backD2D5: #d2d5dd;
    --yellow: #f0d288;
    --purple: #aa9dfa;
    --active: #4f28a5;
    --orange: #bb973e;
    --form-bg: #292e39;
}
.btn-reset {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.purple {
    color: var(--purple);
}
.back-purple {
    background-color: var(--purple);
}
.yellow {
    color: var(--yellow);
}
.back-yellow {
    background-color: var(--yellow);
}
.black {
    color: var(--black);
}
.back-black {
    background-color: var(--black);
}
.gray {
    color: var(--gray);
}
.back-gray {
    background-color: var(--gray);
}
.violet {
    color: var(--violet);
}
.back-violet {
    background-color: var(--violet);
}
.white {
    color: var(--white);
}
.back-white {
    background-color: var(--white);
}
.border {
    color: var(--border);
}
.back-border {
    background-color: var(--border);
}
.color-f2f {
    color: var(--f2f);
}
.back-color-f2f {
    background-color: var(--f2f);
}
.section__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}
.italic {
    font-style: italic;
}
.text-400-60-60 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}
.text-500-30-30 {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
}
.text-500-20-100 {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
}
.text-300-16-22 {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
}
.text-400-16-22 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.text-700-20-150 {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}
.text-500-16-16 {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}
.text-400-12-12 {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.text-500-20-20 {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.text-400-16-150 {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
.text-400-20-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.text-400-16-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.text-400-20-160 {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}
.text-400-16-180 {
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}
.text-400-48-100 {
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}
.text-400-16-24 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.text-700-60-100 {
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
}
/* Header */
.nav__vector, .nav__vector-2{
    display: none;
}
.burger{
    display: none;
}
.header__container {
    overflow: hidden;
    /* position: relative; */
}
.header__inform {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 78.4%;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
}
.header__buttons {
    width: 17.5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__search-link {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    height: 43%;
}
.header__search-open {
    display: none;
}
.header__search-open input {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}
.header__search-open input::-webkit-input-placeholder {
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--gray);
}
.header__search-open input::-moz-placeholder {
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--gray);
}
.header__player-btn-320{
    display: none;
}
.header__border{
    display: none;
}
.header__search-open input:-ms-input-placeholder {
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--gray);
}
.header__search-open input::-ms-input-placeholder {
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--gray);
}
.header__search-open input::placeholder {
    font-family: "Muller";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--gray);
}
.header__items a, .header__items-down a{
    transition: color .3s ease-in-out;
}
.header__search-open--active {
    display: block;
    position: absolute;
    top: 0;
    left: -1300%;
    right: 0;
    bottom: 0;
    width: 308px;
    border-bottom: 1px solid var(--violet);
    height: 100%;
    background-color: var(--white);
}
.header__search-btn {
    position: absolute;
    right: -9%;
}
.header__search-svg{
    cursor: pointer;
}
.header__search-svg.active{
    opacity: 0;
}
.header__search-close{
    position: absolute;
    right: 1%;
}
.header__down {
    border-top: 1px solid #e6e8ec;
    border-bottom: 1px solid #e6e8ec;
}
.header__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__links {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--black);
}
.header__btn {
    position: inherit;
    z-index: 2000;
    transition: background-color .3s ease-in-out;
    height: 39px;
    text-align: center;
    padding: 0px 30.5px;
    border: 2px solid #121723;
    border-radius: 77px;
}
.header__search-svg path{
    transition: stroke .3s ease-in-out;
}
.header__player svg path{
    transition: fill .3s ease-in-out;
}
.header__old {
    width: 4%;
    height: 60px;
    background-image: url(../img/12+.jpg);
    background-repeat: no-repeat;
}
.header__nav {
    width: 73%;
    padding-top: 1.5%;
}
.header__nav-down {
    width: 55%;
    padding-top: 2%;
}
.header__block {
    width: 31%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
}
.header__logo {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.header__player {
    height: 38px;
    position: relative;
    padding: 0% 3%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    border-left: 1px solid #e6e8ec;
    border-right: 1px solid #e6e8ec;
}
.header__player::before {
    content: "Ранее в эфире";
    font-family: "Muller";
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--gray);
    position: absolute;
    top: 3%;
    left: 24%;
}
.header__player::after {
    content: "«Музыка»";
    font-family: "Muller";
    position: absolute;
    top: 46%;
    left: 24%;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--black);
}
.header__player-next::before {
    content: "Сейчас в эфире";
}
.header__player-next::after {
    content: "«Как так?»";
}
.header__modal-content{
    display: none;
}
.header__modal-content--active{
    display: block;
    position: fixed;
    top: 50%;
    bottom: 0;
    width: 824px;
    max-width: 100%;
    height: 655px;
}
.header__modal-container{
    display: none;
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 1000;
}
.header__modal-container.active{
    display: block;
}
.header__btn-open {
    width: 824px;
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow-y: scroll;
}

.header__social-link{
    transition: fill .3s ease-in-out;
}
.header__login-social {
    width: 26.2%;
}
.header__social-help {
    padding-bottom: 3.5%;
}
.first-link {
    background-image: url(../img/facebook.svg);
}
.second-link {
    background-image: url(../img/vk.svg);
}
.third-link {
    background-image: url(../img/google.svg);
}
.header__login-title {
    margin-bottom: 17px;
}
.header__login-subtitle {
    margin-bottom: 30px;
}
.header__login-subtitle a{
    transition: color .3s ease-in-out;
}
.header__login-open {
    width: 92%;
    margin-bottom: 4%;
    padding-bottom: 4%;
    border-bottom: 1px solid var(--border);
}
.header___form-login {
    transition: background-color .3s ease-in-out;
    background: transparent;
    padding: 10px 10px 10px 32px;
    width: 75%;
    height: 70px;
    border: 1px solid var(--white);
    border-radius: 40px;
    margin-bottom: 30px;
    font-family: 'Muller';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--gray);
}
.header__login-subtitle a{
    transition: color .3s ease-in-out;
}
.header__form-btn {
    transition: background-color .3s ease-in-out;
    display: block;
    border-radius: 40px;
    padding: 25px 54px;
}
.header__open-svg {
    outline: none;
    transition: stroke .3s ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 3.8%;
    top: 5%;
}
/* Hero */
.hero__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 1.6%;
    padding-bottom: 2%;
}
.hero__first-word {
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: var(--black);
}
.hero__second-word {
    padding-left: 1.5%;
}
.hero__subtitle {
    color: var(--black);
    width: 79%;
    margin-bottom: 6.5%;
}
.hero__text {
    width: 69%;
    padding-top: 5.5%;
}
.hero__title {
    margin-bottom: 1.5%;
}
.hero__btn {
    transition: background-color .3s ease-in-out;
    padding: 25px 54px;
    background: var(--violet);
    border-radius: 40px;
    height: 70px;
    text-align: center;
    color: var(--white);
}
/* Podcast */
.podcast {
    background: var(--f2f);
}
.podcast__container {
    padding-top: 4.65%;
    padding-bottom: 3.5%;
}
.podcast__subtitle{
    margin-bottom: 15%;
}
.podcast__up {
    padding: 6% 6.5% 0 7%;
    background: var(--white);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.podcast__articles {
    width: 48.5%;
    min-height: 140px;
}
.podcast__articles:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
}
.podcast__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5.5%;
}
.podcast__svg svg{
    transform: translateY(7px);
}
.podcast__svg svg path{
    transition: fill .3s ease-in-out;
}
.podcast__svg svg circle{
    transition: stroke .3s ease-in-out;
}
.podcast__headtitle {
    margin-bottom: 2.8%;
}
.podcast__title {
    margin-bottom: 4px;
}
.podcast__svg{
    height: 48px;
}
.podcast__time {
    display: block;
    margin-bottom: 6%;
    color: var(--black);
}
.podcast__btn {
    transform: translateY(-43%);
    transition: background-color .3s ease-in-out;
    text-align: center;
    padding: 25px 54px;
    height: 70px;
    border: 2px solid #6d31ee;
    border-radius: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.podcast__play,
.podcast__like,
.podcast__share {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--gray);
}
.podcast__play > svg {
    width: 15px;
    height: 13px;
}
.podcast__like > svg {
    width: 15px;
    height: 13px;
}
.podcast__share > svg {
    width: 15px;
    height: 13px;
}
.podcast__down {
    height: 31px;
    border-top: 1px solid var(--gray);
}
.podcast__links {
    padding-left: 7%;
    background: var(--white);
    width: 100%;
}
.podcast__links a{
    transition: color, background-color .3s ease-in-out;
}
.podcast__links > a svg path{
    transition: fill, background-color .3s ease-in-out;
}
.podcast__links > button svg {
    margin-right: 6px;
}
.podcast__links button:not(:last-child) {
    margin-right: 30px;
}
.podcast__articles > svg {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-transform: translateY(58%);
    -ms-transform: translateY(58%);
    transform: translateY(58%);
}
.podcast__articles-more{
    display: none;
}
.podcast__right {
    width: 79%;
}
.podcast__articles-left {
    height: 140px;
    position: relative;
}
.podcast__articles-left picture::before {
    content: "";
    position: absolute;
    top: 89.5%;
    left: 0%;
    right: 54.4%;
    bottom: 0%;
    background-color: var(--border);
}
.podcast-befor::after {
    content: "";
    position: absolute;
    display: block;
    top: 91.5%;
    left: 7%;
    right: 54.4%;
    bottom: 0%;
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}
.podcast-before-1:after {
    content: "14 июня";
}
.podcast-before-2:after {
    content: "11 июня";
}
.podcast-before-3:after {
    content: "8 июня";
}
.podcast-before-4:after {
    content: "5 июня";
}
.podcast-before-5:after {
    content: "2 июня";
}
.podcast-before-6:after {
    content: "28 мая";
}
.podcast-before-7:after {
    content: "22 мая";
}
.podcast-before-8:after {
    content: "18 мая";
}
.podcast__link{
    justify-content: center;
}
.podcast__links a{
    transition: color .3s ease-in-out;
}
.podcast__links > a svg path{
    transition: fill .3s ease-in-out;
}

/* Show */
.show__container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 5.7%;
    padding-bottom: 4.8%;
}
.show__aside {
    width: 23%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.show__author {
    display: block;
    margin-bottom: 1.5%;
}
.choices__placeholder {
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--black);
}
.show__image {
    display: block;
    background-image: url(../img/mic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 65px;
    max-width: 100%;
    height: 89px;
}
.show__archive {
    transition: background-color .3s ease-in-out;
    display: block;
    text-align: center;
    width: 160px;
    height: 40px;
    padding: 10px 43px;
    border: 2px solid #121723;
    border-radius: 77px;
    margin-bottom: 5%;
}

.show__articles {
    width: 74.5%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.show__article {
    transition: opacity .3s ease-in-out;
    position: relative;
    width: 31%;
    height: 260px;
}
.show__article:nth-last-child(n + 4) {
    margin-bottom: 30px;
}
.show__name {
    margin-bottom: 1%;
}
.show__text span {
    display: block;
    margin-bottom: 9%;
}
.show__time {
    display: block;
    margin-bottom: 10%;
}
.show__more {
    display: flex;
    transition: color .3s ease-in-out;
}
.show__more svg path{
    transition: fill .3s ease-in-out;
}
.show__more::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.show__text {
    border: 1px solid #e6e8ec;
    padding-top: 6%;
    padding-left: 7%;
    padding-bottom: 8%;
}
.show__title {
    -webkit-transform: translateY(-32%);
    -ms-transform: translateY(-32%);
    transform: translateY(-32%);
}
.show__down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 38%;
}
.border-section{
    display: none;
}
.choices {
    width: 255px;
    height: 40px;
    border-radius: 10px;
    outline: none;
}

.choices[data-type*="select-one"]:after {
    height: 8px;
    width: 8px;
    border-width: 0px;
    border-right: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-top: -6px;
    margin-right: 6px;
}

.choices[data-type*="select-one"].is-open:after {
    border-width: 0px;
    border-left: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    margin-top: -2px;
}

.choices.is-open {
    position: relative;
    z-index: 1;
}

.choices__inner {
    min-height: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--border);
    font-size: 16px;
    background-color: var(--border);
    -webkit-transition-property: border-color, background-color;
    -o-transition-property: border-color, background-color;
    transition-property: border-color, background-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.choices:hover .choices__inner {
    background-color: var(--border40);
    border-color: var(--border40);
    -webkit-transition-property: border-color, background-color;
    -o-transition-property: border-color, background-color;
    transition-property: border-color, background-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.choices:focus-visible .choices__inner {
    border-color: var(--violet);
    -webkit-transition-property: border-color, background-color;
    -o-transition-property: border-color, background-color;
    transition-property: border-color, background-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.choices:active:not(:focus-visible) .choices__inner {
    background-color: var(--backD2D5);
    border-color: var(--backD2D5);
    -webkit-transition-property: border-color, background-color;
    -o-transition-property: border-color, background-color;
    transition-property: border-color, background-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.is-open .choices__inner {
    border: 1px solid var(--border);
    border-radius: 10px;
}

.is-focused .choices__inner {
    border-color: var(--border);
}

.choices__list--single {
    padding-top: 3px;
}

.choices__list--dropdown {
    z-index: -1;
    top: 85%;
    padding-top: 6px;
    color: var(--gray);
}

.choices__list--dropdown .choices__item {
    padding: 11px;
    font-size: 16px;
}

.choices__item:hover {
    background-color: var(--border);
}

.choices__list--dropdown .choices__item:not(:last-child) {
    border-bottom: 1px solid var(--border);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: var(--purple);
    color: var(--black);
    -webkit-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.is-open .choices__list--dropdown {
    border: 1px solid var(--border);
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.choices__list--dropdown .choices__item--selectable {
    padding-right: 0;
}

.choices__placeholder {
    opacity: 1;
}

.choices__list--dropdown .choices__item.is-selected {
    display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:hover {
    background-color: var(--border);
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:active {
    background-color: var(--border);
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
    opacity: 0;
}
/* Hosts */
.hosts {
    background-color: var(--black);
}
.hosts__container {
    padding-top: 5%;
    padding-bottom: 5.1%;
}
.hosts__title {
    margin-bottom: 1%;
}
.hosts__sub-bold {
    margin-bottom: 0.6%;
}
.hosts__subtitle {
    width: 70%;
    margin-bottom: 4.5%;
}
.accordion-container {
    width: 66.5%;
}
.ui-tabs .ui-tabs-panel {
    padding: 0;
}
.hosts__block {
    background: var(--black);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.ac {
    background: transparent;
    border: none;
    margin: 0;
}
.ui-widget.ui-widget-content {
    border: none;
}
.ac.is-active>.ac-header .ac-trigger::after{
    transition: background-image .3s ease-in-out;
}
.ac .ac-trigger {
    transition: color .3s ease-in-out;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    font-family: "Muller";
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--white);
    padding-top: 5%;
    padding-bottom: 4%;
    padding-left: 0;
}
.ui-widget-header {
    background: transparent;
    border: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: transparent;
    border: none;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0;
}
.ac .ac-panel .ac-text {
    transition: color .3s ease-in-out;
    text-align: start;
    margin-bottom: 11%;
    padding: 0;
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--white);
}
.ac .ac-trigger::after {
    content: "";
    background-image: url(../img/arrow_btn-2.svg);
    width: 46px;
    height: 46px;
    background-size: cover;
}
.ac.is-active > .ac-header .ac-trigger::after {
    content: "";
    background-image: url(../img/arrow_btn.svg);
    width: 46px;
    height: 46px;
    background-size: cover;
}
.ac.js-enabled .ac-panel {
    padding: 0;
}
.ac-panel-list {
    columns: 4;
    gap: 4%;
    width: 99%;
    padding-top: 4%;
    padding-bottom: 1.5%;
}
.hosts__columns{
    flex-direction: column;
}
.ac-panel {
    visibility: visible;
}
.ui-tabs .ui-tabs-nav li {
    margin: 0;
}
.host__info {
    margin-bottom: 40px;
    width: 100%;
}
.host__social {
    width: 37%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 20px;
    margin-bottom: 5%;
}
.hosts__card img {
    margin-bottom: 3%;
}
.host__link {
    background-repeat: no-repeat;
    width: 20px;
}
.host__insta {
    background-image: url(../img/instagram.svg);
}
.host__fb {
    background-image: url(../img/facebook.svg);
}
.host__tw {
    background-image: url(../img/twitter.svg);
}
.host__name {
    margin-bottom: 8px;
}
.hosts__link {
    transition: background-color, color .3s ease-in-out;
    text-align: center;
    padding: 10px 17px;
    border: 2px solid var(--purple);
    border-radius: 77px;
}
.hosts__cards {
    width: 31.5%;
}
.ui-widget-content a {
    color: #aa9dfa;
}
.hosts__image {
    margin-bottom: 48px;
}
.tabs__item {
    display: none;
}
.tabs__item--active {
    display: block;
}
/* Playlist */
.playlist__container {
    padding-top: 4.9%;
    padding-bottom: 5%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.playlist__left {
    width: 31.2%;
}
.playlist__left-bottom{
    border-top: 1px solid var(--gray);
}
.playlist__right {
    width: 66%;
    padding-top: 1.2%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.playlist__article {
    transition: opacity .3s ease-in-out;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.playlist__title {
    margin-bottom: 3%;
}
.playlist__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 46%;
    margin-bottom: 7%;
}
.playlist__custom input[type="radio"] {
    position: absolute;
    display: none;
}
.playlist__custom button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.playlist__custom button::before {
    transition: border .3s ease-in-out;
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 100%;
    border: 2px solid var(--gray);
    display: inline-block;
}
.playlist__custom button::after {
    content: "";
    width: 26px;
    position: absolute;
    height: 26px;
    display: inline-block;
    border-radius: 100%;
    border: 7px solid var(--violet);
    opacity: 0;
}
.playlist__custom input[type="radio"]:checked + button::after {
    opacity: 1;
}
.playlist__custom > button > span {
    position: absolute;
    left: 158%;
    top: 15%;
    width: 284px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.playlist__genre {
    display: block;
    margin-bottom: 4%;
}
.playlist__text {
    padding-top: 11%;
    margin-bottom: 1%;
}
.playlist__copy {
    margin-bottom: 1%;
    display: block;
}
.playlist__article-name {
    display: block;
    margin-bottom: 3%;
}
.playlist__article-name::before {
    transition: background-image, color .3s ease-in-out;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.playlist__article-card {
    transition: background-color, color .3s ease-in-out;
    padding: 15px 18px 16px 16px;
    border: 1px solid var(--gray);
    min-height: 64px;
}
.playlist__article:nth-last-child(n + 5) {
    margin-bottom: 28px;
}
.playlist__article-descr {
    display: block;
}
.playlist__old {
    background-image: url(../img/18+playlist.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}
/* player */
.player {
    background: #292e39;
}
.player__title {
    background-image: url(../img/wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 7%;
    margin-bottom: 4%;
}
.player__container {
    padding-top: 4.7%;
    padding-bottom: 7%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.player__info {
    width: 40%;
}
.player__descr-1 {
    margin-bottom: 3%;
    width: 90%;
}
.player__descr-2 {
    margin-bottom: 7%;
}
.player__price {
    display: block;
    font-style: normal;
    margin-bottom: 13%;
}
.player__link {
    transition: background-color, color .3s ease-in-out;
    background-image: url(../img/yandex.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: 2px solid var(--yellow);
    border-radius: 100px;
    padding: 5% 2%;
    padding-left: 9%;
    background-position: left center;
    background-position-x: 4%;
}
.player__left {
    position: relative;
}
.player__new {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
}
.player__radio {
    padding-top: 2%;
}
/* About */
.about {
    background: var(--black);
    position: relative;
}
.about__container {
    padding-top: 5%;
    padding-bottom: 4.7%;
}
.about__title {
    margin-bottom: 2%;
}
.about__title-1 {
    margin-bottom: 1%;
}
.about__left {
    width: 58%;
}
.about__up {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.2%;
}
.about__right {
    width: 40%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.about__subtitle {
    margin-bottom: 2.5%;
}
.about__name {
    margin-bottom: 2%;
}
.about__article {
    width: 255px;
    max-width: 100%;
    height: 361px;
}
.about__people {
    margin-bottom: 2.5%;
}
.about__img {
    margin-bottom: 11%;
}
.about__svg {
    background-repeat: no-repeat;
    max-width: 100%;
}
.about__svg-1 {
    background-image: url(../img/Spiral\ 3.svg);
    width: 160px;
    height: 290px;
}
.about__svg-2 {
    margin-top: 4%;
    background-image: url(../img/Dawn.svg);
    width: 255px;
    height: 255px;
}
.about__form textarea {
    transition: background-color .3s ease-in-out;
    width: 83%;
    height: 150px;
    padding: 30px 10px 10px 32px;
    border: 1px solid var(--white);
    border-radius: 30px;
    margin-bottom: 2.5%;
}
.form__place {
    transition: background-color .3s ease-in-out;
    padding: 10px 10px 10px 32px;
    border: 1px solid #ffffff;
    border-radius: 40px;
    height: 70px;
    width: 100%;
}
.about__form-flex {
    width: 83%;
    margin-bottom: 2.6%;
}
.about__form-flex label {
    width: 48%;
}
.about__form span{
    transition: color .3s ease-in-out;
}
.footer__social svg path{
    transition: fill .3s ease-in-out;
}
.footer__items a{
    transition: color .3s ease-in-out;
}
.about__form-btn {
    transition: background-color .3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--violet);
    border-radius: 40px;
    padding: 25px 54px;
    font-family: "Muller";
    text-align: center;
    margin-bottom: 3%;
}
input[type="checkbox"] + span {
    font-family: "Muller";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--white);
}
#about__checkbox {
    display: none;
}
#about__checkbox + span {
    position: relative;
    width: 14px;
    height: 14px;
    padding-left: 2%;
}
#about__checkbox + span::after {
    content: "";
    position: absolute;
    background-image: url(../img/поле.svg);
    top: 0;
    left: 0;
    right: 0;
    bottom: -2px;
    background-repeat: no-repeat;
}
#about__checkbox:checked + span::after {
    content: "";
    position: absolute;
    background-image: url(../img/галочка.svg);
    top: 0;
    left: -4px;
    right: 0;
    bottom: -2px;
    background-repeat: no-repeat;
}
.swiper {
    width: 100%;
    height: 361px;
}
.swiper-slide:not(:last-child){
    margin-right: .7%;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: "";
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: "";
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}
.swiper-button-next:after{
    background-image: url(../img/about-arrow-right.svg);
    width: 48px;
    height: 48px;
}
.swiper-button-prev:after{
    background-image: url(../img/about-arrow-left.svg);
    width: 48px;
    height: 48px;
}
.swiper-button-next, .swiper-button-prev{
    width: 5%;
    top: 42%;
}
.swiper-button-prev{
    left: 16.3%;
}
.swiper-button-next{
    right: 16.3%;
}
.about__descr{
    width: 91%;
}
/* Footer */
.footer {
    background: #292e39;
    padding-bottom: 1%;
}
.footer__container {
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer__logo-white {
    display: block;
    margin-bottom: 12%;
}
.footer__social:not(:last-child) {
    margin-right: 10.5%;
}
.footer__nav {
    width: 40.4%;
}
.footer__list {
    columns: 3;
    gap: 28%;
}
.second {
    width: 22%;
}
.third {
    width: 14%;
}
.footer__solid {
    background-image: url(../img/spiral-footer.svg);
    background-repeat: no-repeat;
    height: 12px;
    display: block;
    margin-bottom: 0.5%;
}
.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 103.34%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.footer__items:not(:nth-child(3n+3)){
    margin-bottom: 28%;
}
.footer__logo{
    display: block;
    margin-bottom: 10%;
}
